@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Orbitron');
body {
    margin-top: 50px;
    margin-bottom: 50px;
    background: none;
}

#homePage {
    width: 100%;
    height: 100%;
    background: gainsboro;
}

#titleBox {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    height: 60px;
    margin: 0px 0px 10px 0px;
}

#titleBox h1 {
    letter-spacing: 2px;
    font-family: 'Shrikhand', cursive;
}

h1 {
    font-family: 'Mada', sans-serif;
}

.col-md-12 {
    text-transform: uppercase;
    color: blanchedalmond;
}

.col-md-12 h1 {
    font-size: 23px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
}

.full {
    background: url(../images/original.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    transition: background 1s linear;
}

.fullpage {
    width: 100%;
    height: 100%;
    margin: 0;
}

#startButton {
    border-radius: 10px;
    position: relative;
    top: 40%;
    font-family: 'Shrikhand', cursive;
}

#startDiv {
    height: 200px;
}

a#startButton:hover {
    background-color: mediumseagreen;
    transition: .3s;
}

#questionBox {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    height: 120px;
    font-family: 'Shrikhand', cursive;
    text-align: center;
    font-size: x-large;
}

.stats {
    margin-top: 9px;
    font-size: larger;
    font-family: 'Mada', sans-serif;
}

#steez {
    color: beige;
    background-color: skyblue;
    border-color: skyblue;
    border-radius: 6px;
    height: 50px;
}

#steez:hover {
    background-color: mediumseagreen;
    transition: .3s;
}

#textBar {
    height: 50px;
}

div#timer.jumbotron.text-center h1 {
    font-family: 'Orbitron', sans-serif;
}

.jumbotron {
    background-color: rgba(0, 0, 0, 0.3);
}

#timer {
    font-family: 'Orbitron', sans-serif;
    margin-top: 20px;
    color: white;
}